<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="progress">
		<p></p>
	</div>


	<section>
		<h1>Scroll down to progress</h1>
	</section>
	<section></section>
	<section></section>
	<section></section>
</body>
</html>
<style>
*, *:before, *:after {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
}

.progress {
	position: fixed;
	top: 0;
	left: 0;
	height: 10px;
	background-color: #a38678;
	z-index: 2;
}

p {
	position: fixed;
	top: 20px;
	left: 20px;
	font-size: 2rem;
}

section {
	min-height: 100vh;
	width: 100%;
}

section:first-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
}

section:nth-child(odd) {
	background-color: lightblue;
}
</style>
<script>
const progressTag = document.querySelector('.progress')
const progressText = document.querySelector('p')
const bodyTag = document.querySelector('body')

document.addEventListener('scroll', () => {
  const pixels = window.pageYOffset
  const pageHeight = bodyTag.getBoundingClientRect().height
  const totalHeight = pageHeight - window.innerHeight
  const percentage = pixels / totalHeight
  
  progressTag.style.width = `${100 * percentage}%`
  
  if (pixels > 0) {
    progressText.innerHTML = `${Math.floor(100 * percentage)}` + '%'
  } 
  
  else {
    progressText.innerHTML = ''
  }
})

</script>